body{
    background-color: #f4f7fb;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
    color #333;

}
h1{
 color: darkblue;
    text-align: center;

}
p{
    font-size: 20px;
    color: chocolate;
}
div{
    padding: 20px;
    border: 3px solid black;
    margin: 30px;
}
header{
    background-color: #711e8a;
    color: white;
    text-align: center;
    padding: 40px;
}
header h1{
    margin: 0;
    font-size: 40px;
}
header{
    font-size: 40px;
}
nav{
    background-color: 14213d;
    text-align: center;
    padding: 15px;
}
nav a{
    columns: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover{
    color: #fca311;


}
main{
    width: 80%;
    margin: auto;
    padding: 20px;

}
section{
    background: white;
    padding: 25px;
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);

}
h2{
    color: #1e3a8a;
    border-bottom: 3px solid #fca311;
    padding-bottom: 10px;


}
p{
    line-height: 1.8;
    font-size: 17px;

}
ul li,
ol li{
    margin: 10px 0;
    font-size: 17px;
}
img{
    display: block;
    margin: auto;
    width: 250px;
    border-radius: 20px;
    border: 4px #1e3a8a;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    background-color: #1e3a8a;
    color: white;
    padding: 15px;
}
td{
    padding: 12px;
    border: 1px solid #acc;
    text-align: center;
}
tr :nth-child{
    background-color: #f2f2f2;

}
form{
    margin-top: 20px;
}
label{
    font-weight: bold;

}
input{
    width: 500px;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20ppx;
    border: 1px solid #acc;
    border-radius: 5px;
    font-size: 16px;

}
button{
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: #fca311;

}
footer{
    background-color: #142113;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}